[user]
	email = AnandGaitonde@Gmail.com
	name = XenoPhex
[push]
	default = simple
[color]
	ui = true
[core]
	autocrlf = input
[http]
  postBuffer = 524288000
[alias]
  st = status
  ci = commit
  co = checkout
